<script lang="ts">
export default {
    data: () => ({
      width: 300,
      aspectRatio: 16 / 9,
      aspectRatios: [
        {
          title: '16/9',
          value: 16 / 9,
        },
        {
          title: '4/3',
          value: 4 / 3,
        },
        {
          title: '1/1',
          value: 1,
        },
      ],
      icons: [
        'mdi-facebook',
        'mdi-twitter',
        'mdi-linkedin',
        'mdi-instagram',
      ],
    }),
  }
  
  
      
  
  

</script>


<template>
 
<div>
    <v-toolbar
      dark
      prominent
      image="https://cdn.vuetifyjs.com/images/backgrounds/vbanner.jpg"
    >
      

      <v-toolbar-title><h3>Portfolio</h3></v-toolbar-title>

      <v-spacer></v-spacer>

      
    </v-toolbar>
  </div>


  <v-container>

  <v-card class="mx-auto" max-width="600" rounded="0">
    <v-img height="100%" cover
      src="https://png.pngtree.com/thumb_back/fw800/background/20201106/pngtree-clouds-in-the-blue-sky-image_436506.jpg">
      <v-avatar color="grey" size="200" rounded="0">
        <v-img cover
          src="https://scontent.fbkk30-1.fna.fbcdn.net/v/t39.30808-6/268078489_3034489880125892_1020282719815140293_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeFy73-lACoBqxSIWNWbmojujMe5WCQKfPKMx7lYJAp88vbH1tSgAF1LHIUZWI6k5XUcw9mQv8VzYRhs2GBGqwzy&_nc_ohc=7Z6hKhbshRgAX9uGaxm&_nc_ht=scontent.fbkk30-1.fna&oh=00_AfD0PPcQuMRzZEbVsC7LvdgbT48MZAegCLZFT0vscI8Mxg&oe=63A66977"></v-img>
      </v-avatar>
      <v-list-item class="text-white" title="Kanin Sangchan "
        subtitle="นักเรียน มหาวิทยาลัยบูรพา 64160236"></v-list-item>
    </v-img>
  </v-card>
  <br />
  <v-row justify="center"><div><h2>ภาพหน้าตา(ปรับขนาดได้)</h2></div></v-row>
  <br />
  <div class="d-flex flex-column justify-space-between align-center">
    <v-select
      v-model="aspectRatio"
      :items="aspectRatios"
    ></v-select>
    <v-slider
      v-model="width"
      class="align-self-stretch"
      min="200"
      max="500"
      step="1"
    ></v-slider>
    <v-img
      :aspect-ratio="aspectRatio"
      :width="width"
      src="https://scontent.fbkk30-1.fna.fbcdn.net/v/t39.30808-6/268078489_3034489880125892_1020282719815140293_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeFy73-lACoBqxSIWNWbmojujMe5WCQKfPKMx7lYJAp88vbH1tSgAF1LHIUZWI6k5XUcw9mQv8VzYRhs2GBGqwzy&_nc_ohc=7Z6hKhbshRgAX9uGaxm&_nc_ht=scontent.fbkk30-1.fna&oh=00_AfD0PPcQuMRzZEbVsC7LvdgbT48MZAegCLZFT0vscI8Mxg&oe=63A66977"
      cover
    ></v-img>
    <br />
    <v-row justify="center"><div><h3>Kanin Sangchan</h3></div></v-row>
    <v-row justify="center"><div><h3>คณิน แสงจันทร์</h3></div></v-row>
    <v-row justify="center"><div><h4>64160236</h4></div></v-row>
    <br />
  </div>
  <br />
  <v-row justify="center"><div><h2>ประวัติการศึกษา</h2></div></v-row>
  <v-row justify="center"><div><p>ประวัติของนายคณิน แสงจันทร์ ตั้งแต่ช่วยอายุ 3 ปี ถึง ปัจจุบัน ผ่าฯดรงเรียนมาทั้งหมด 3 โรงเรียน และ 1 มหาวิทยาลัย โดยปัจจุบันศึกษาในสาขา วิทยาการคอมพิวเตอร์</p></div></v-row>
  <br />  
  <v-timeline align="start">
    <v-timeline-item>
      <template v-slot:opposite>
        
      </template>
      <div>
        <div class="text-h6">ปฐมวัย</div>
        <v-img max-width="130" cover
      src="https://mandanusorn.ac.th/wp-content/uploads/2018/12/manda-logo.gif"></v-img>
        <p>
          โรงเรียนมารดานุสรณ์
        </p>
        <p>
          2549 ถึง 2552
        </p>
        <p>
            เกรดเฉลี่ยในภาพรวม 6 เทอม 3.78
        </p>
      </div>
    </v-timeline-item>

    <v-timeline-item>
      <template v-slot:opposite>
        
      </template>
      <div>
        <div class="text-h6">ประถมศึกษา</div>
        <v-img max-width="130" cover
      src="https://mandanusorn.ac.th/wp-content/uploads/2018/12/manda-logo.gif"></v-img>
        <p>
          โรงเรียนมารดานุสรณ์
        </p>
        <p>
          2552 ถึง 2558
        </p>
        <p>
            เกรดเฉลี่ยในภาพรวม 12 เทอม 4.00
        </p>
      </div>
    </v-timeline-item>

    <v-timeline-item>
      <template v-slot:opposite>
        
      </template>
      <div>
        <div class="text-h6">มัธยมศึกษา</div>
        <v-img max-width="130" 
      src="https://1.bp.blogspot.com/-FMEFzPDUn1E/UbaqAqaTtbI/AAAAAAAADF4/sgasuw9FRdo/s1600/%E0%B8%95%E0%B8%A3%E0%B8%B2%E0%B8%A9%E0%B8%95%E0%B8%A3%E0%B8%B0%E0%B8%81%E0%B8%B2%E0%B8%A3%E0%B8%84%E0%B8%B8%E0%B8%93.png"></v-img>
        <p>
          โรงเรียนตราษตระการคุณ
        </p>
        <p>
          2558 ถึง 2564
        </p>
        <p>
          สาขาวิทยาศาสตร์และคณิตศาสตร์
          </p>
          <p>
            เกรดเฉลี่ยในภาพรวม 6 เทอม 3.78
        </p>
          
      </div>
    </v-timeline-item>

    <v-timeline-item>
      <template v-slot:opposite>
       
      </template>
      <div>
        <div class="text-h6">อุดมศึกษา</div>
        <v-img height="100%" cover
      src="https://upload.wikimedia.org/wikipedia/commons/e/ec/Buu-logo11.png"></v-img>
        <p>
          มหาวิทยาลัยบูรพา
        </p>
        <p>
          2564 จนถึงปัจจุบัน
        </p>
      </div>
    </v-timeline-item>
  </v-timeline>
  <br />
  <v-row justify="center"><div><h2>สิ่งที่สนใจ</h2></div></v-row>
  <v-row justify="center">
      <v-col cols="7">
  <v-table >
          <thead >
            <tr>
              <th>ตั้งแต่อดีต จนจวบปัจจุบัน</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>ช่วงอายุตั้งแต่จำความ จนถึง 7 ปี</td>
              <td>อยากเป็นนักแข่่งรถมืออาชีพสูตร1 สูตร2 อย่างมืออาชีพ แข่งขันรายการต่างประเทศ และอยากเป็นผู้ที่มีชื่อเสียง</td>
            </tr>
            <tr>
              <td>ตั้งแต่ช่วงวัยเด็ก 7 ปีเป็นต้นมา จนถึงปัจจุบัน</td>
              <td>ค้าขายรถมือสอง และเรื่องเครื่องยนต์กลไลต่างๆ สเปคและสมรรถนะของรถยนต์แต่ละรุ่นที่ออกมาสู่ท้องจลาด</td>
            </tr>
            
          </tbody>
        </v-table>
      </v-col>
  </v-row>
  <br />
  <div class="text-center">
    <v-pagination
      :length="4"
      prev-icon="mdi-menu-left"
      next-icon="mdi-menu-right"
    ></v-pagination>
  </div>
  <br />
  <v-footer class="d-flex flex-column">
    <div class="bg-teal d-flex w-100 align-center px-4">
      <strong>Get connected with us on social networks!</strong>

      <v-spacer></v-spacer>

      <v-btn
        v-for="icon in icons"
        :key="icon"
        class="mx-4"
        :icon="icon"
        variant="plain"
        size="small"
      ></v-btn>
    </div>
   
    <div class="px-4 py-2 bg-black text-center w-100">
      {{ new Date().getFullYear() }} — <strong> Thank you for reading</strong>
    </div>
  </v-footer>

</v-container>
</template>

<style>
h2{color: rgb(43, 159, 212);}
th{background-color: powderblue;}
.v-table{border: 1px solid black ;}
.text-h6{color: rgb(43, 159, 212);}
.v-toolbar-title{color: antiquewhite;}
</style>